@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a:focus{ outline: none !important; text-decoration: none;}
input[type="text"]::-webkit-input-placeholder { opacity: 1; }
input[type="text"]::-moz-placeholder { opacity: 1; }
input[type="search"]::-webkit-input-placeholder { opacity: 1; }
input[type="search"]::-moz-placeholder { opacity: 1; }
input[type="email"]::-webkit-input-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1; }
input[type="tel"]::-webkit-input-placeholder { opacity: 1; }
input[type="tel"]::-moz-placeholder { opacity: 1; }
textarea::-moz-placeholder { opacity: 1; }
textarea::-webkit-placeholder { opacity: 1; }

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*.clearfix {
    *zoom: 1;
}*/

*::-moz-selection {
 background:#10bcf4;
 color: #fff;
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
}


body {background:#fff; font-family: Arial, Helvetica, sans-serif}

.container {
	max-width:1200px;
	position:relative;
}


.properties_area {
    margin:50px 0 0;
    padding: 0;
}
.properties_tle {
    margin: 0;
    padding: 0 26px 5px;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}
.properties_tle span {
    color: #C70039;
}
.del_food {
    margin: 30px 0 0;
    padding: 0 0 20px;
}

.properties_col {

}

.properties_images {
    margin: 0;
    padding: 0;
    position: relative;
}
.properties_images img{
    width: 100%;
}
.properties_info {
    margin: 0;
    padding: 5px 25px;
}
.price {
    margin: 0;
    padding:10px 0 0;
    font-size:25px;
    font-weight: bold;
}
.price sub{
    font-weight: normal;
}
.area_info {
    margin: 0;
    padding:10px 0;
    font-size:16px;
    font-weight: normal;
}
.room_info {
    margin: 0;
    padding:2px 0 10px;
    font-size:18px;
    font-weight: normal;
}
.btt {
	margin:0;
	padding:0;
	}
.btt a{
    margin:5px 0;
    padding:0 20px;
    font-size:16px;
    line-height:40px;
    color: #FFFFFF;
    font-weight: normal;
    background: #000;
    border-radius: 20px;
    display: inline-block;
}
.btt a:hover{
    color: #000;
    background: #fff;
}

